body {
  padding: 0;
  margin: 0;
}

.auth-page {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-wrappr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
